@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
}

html {
  scroll-behavior: initial;
}

body.hide_header header {
  transform: translateY(-100%);
}

body.scrolled header {
}

@media (min-width: 1024px) {
  body.scrolled .container {
    padding: 10px 0;
  }

  body.scrolled svg {
    height: 38px;
  }
}
